<?xml version="1.0"?>
<model>
  <name>turtlebot3_burger</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Abiola Arowolo</name>
    <email>abayo83@gmail.com</email>
  </author>
  <description>TurtleBot3 Burger for Ignition Gazebo 6 Fortress</description>
</model>
